<!DOCTYPE html>
<html lang="en">

<head>
    <script src="jquery.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<!--<script>const handleBar = require('handlebars')</script>-->
<body>
    <!--Side Navigation-->
    <div class="sidenav">
        <ul>
            <form action="/home" method="post">
                <input class="selection" type="submit" value="View All">
            </form>
            <form action="/notes" method="post">
                <input class="selection" type="submit" value="Notes">
            </form>
            <form action="/checklists" method="post">
                <input class="selection" type="submit" value="Checklists">
            </form>
        </ul>
        <div class="tagheader">TAGS
            <!--<input class="addtagButton" type="button" value="ADD">-->
        </div>
        
        <ul id="tags_container">
            <form id="tags_list">
                {{#each tags}}
                    <input id="tag" class="selection" type="text" value="{{tags}}">
                {{/each}}
            </form>
        </ul>
    </div>

    <!--Header-->
    <div class="header sticky" id="HeaderDiv">
        <form action="/logout" method="POST" id="logoutform">
            <input type="submit" value="Sign out" id="logout">
        </form>
        <h2 class="name">CheckNotes</h2>
        
        <form class="searchForm" method="POST" action = "/searchTitle">
            <input id="text" class="searchBar" type="text" placeholder="Search" name = "searchBar">
            <span> <input type="submit" value="Search" id="searchButton"></span>
        </form>
        
        <!--<img class="logoutIcon" src="Checkbox Icon.svg">-->
    </div>

    <!--Page Content-->


    <div id="content">

        <!--<form class="createpostForm" method="post" action="create_post">
            <input id="postinput" type="text" placeholder="Create a note or checklist...">
            <input class="createpostButton" id="notebutton"type="button" value="NOTE" >
            <input class="createpostButton" id="listbutton" type="button" value="CHECKLIST">
            <input class="createpostButton" id="picbutton" type="button" value="IMAGE">
            <input id='fileid' type='file' accept=".jpg" style="display: none">
        </form>-->

        <div id="notescontainer">
            {{#each notes}}
                <div class="noteDiv" data-id="{{_id}}">
                    {{#if images}}
                        <img src="/photo/{{id}}">
                    {{/if}}
                    <p class="noteTitle">{{title}}</p>
                    <div class = "noteTagDiv">
                        {{#each tags}}
                            <span class="noteTag">{{this}}</span>
                        {{/each}}
                    </div>
                    {{#if note}}
                        <p class="noteContent">{{{note}}}</p>
                    {{/if}}
                    {{#if checklist}}
                        {{#each checklist}}
                            <div class="item_container">
                            {{#if status}}
                                <input type="checkbox" checked><span class="task">{{task}}</span>
                            {{else}}
                                <input type="checkbox"><span class="task">{{task}}</span>
                            {{/if}}
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            {{/each}}

            <div id = "createPost">
                <div id="addbutton">
                    +
                </div>
            </div>

        </div>
    </div>


    <!-- The Modal -->
    <div id="addModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="tab">
                <button class="tablinks" id="defaultOpen" onclick="tabClick(event, 'createNote')">NOTE</button>
                <button class="tablinks" onclick="tabClick(event, 'createChecklist')">CHECKLIST</button>
            </div>
            <div class="modal-body">
                <img class="post_image" src="#" style="display:none"/>
                <input class="post_title" type="text" placeholder="Enter Title...">
                <div class="tabcontent" id="createNote">
                    <label>
                        <textarea class="noteInput" placeholder="Enter Content..." id="note_content"></textarea>
                    </label>
                    <button class="picbutton">UPLOAD IMAGE</button>
                </div>
                <div class="tabcontent" id="createChecklist">
                    <div class="item_container">
                        <input type="checkbox" class="list_check">
                        <input type="text" class="list_task" placeholder="Enter task...">
                        <span class="remove">REMOVE</span>
                    </div>
                    <button class="add">+</button>
                </div>
            </div>
            <div class="modal-footer">
                <button id="createbutton">SAVE</button>
                <button class="addTag">+</button>
            </div>
            <form action="/createnotes" method="post" id="addNote"enctype="multipart/form-data">
                <input class='fileid' type='file' accept=".jpg" style="display: none" name="img">
                <input type="hidden" id="formtitle" name="note_title">
                <input type="hidden" id="formcontent" name ="note_content">
            </form>
        </div>

    </div>

    <div id="editModal" class="modal">
        <div class="modal-content edit">
            <div class="modal-body note">
                <img class="post_image" src="#" style="display:none"/>
                <input class="post_title" type="text" id="edittitle">
                <div class="editcontent" id="editNote">
                    <label>
                        <textarea class="noteInput" id="editcontent" ></textarea>
                    </label>
                    <button class="picbutton">UPLOAD IMAGE</button>

                </div>
                <div class="editcontent" id="editChecklist">
                    <button class="add">+</button>
                </div>
            </div>

            <div class="modal-footer">
                <button id="savebutton">SAVE</button>
                <button class="addTag">+</button>

            </div>
            <span class="deleteCheckList" id="deletebutton">DELETE</span>
            <form action="/deletenote" method="post" id="deleteform">
                <input type="hidden" id="deletenoteid" name="note_id">
            </form>
            <form action="/editnote" method="post" id="editform">
                <input type="hidden" id="editnoteid"  name="note_id">
                <input type="hidden" id="editformtitle" name="note_title">
                <input type="hidden" id="editformcontent" name ="note_content">
                <input class='fileid' type='file' accept=".jpg" style="display: none" name="note_image">
            </form>
        </div>
    </div>
    <script>
        $(document).ready(()=> {
            // Get the modal
            var addModal = document.getElementById("addModal");
            let editModal = document.getElementById("editModal");
            var fileName = "";
            $("#createPost").click(function () {
                $("#addModal").css("display", "block");
                $("#defaultOpen").click();
            });
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == addModal) {
                    addModal.style.display = "none";
                    $(".list_task").val("");
                    $(".noteInput").val("");
                    $(".post_title").val("");
                } else if (event.target == editModal) {
                    editModal.style.display = "none";
                    savenote();
                }
            }

            /*$(".addtagButton").click(addTag);

            function addTag(){
                tag = document.createElement("input");
                tag.type="text"
                $(tag).attr("placeholder", "Enter tag...");
                tag.className = "selection";

                $("#tags_list").append(tag);
            }*/


            $(".tablinks").click(function () {
                $(this).parent().find(".active").removeClass("active");
                $(this).addClass("active");
            });

            $(".picbutton").click(function () {
                $(this).parent().parent().parent().find(".fileid").click();
            })

            $(".add").click(function () {
                let item_input = document.createElement("input");
                item_input.type = "text";
                item_input.className = "list_task";
                $(item_input).attr("placeholder", "Enter task...");

                let checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.className = "list_check";

                let remove = document.createElement("span");
                remove.innerHTML = "REMOVE";
                remove.className = "remove";

                let divCtnr = document.createElement("div");
                divCtnr.className = "item_container";
                divCtnr.append(checkbox);
                divCtnr.append(item_input);
                divCtnr.append(remove);

                $(divCtnr).insertBefore(this);
                return false;
            });


            $("#createbutton").click(function () {
                $("#formtitle").val($(".post_title").val())
                $("#formcontent").val($(".noteInput").val())
                $("#addModal").find(".list_task").each(function () {
                    if($(this).val()!=="") {
                        console.log($(this).val())
                        let task = document.createElement("input");
                        task.type = "hidden";
                        task.name = "listitem[]";
                        $(task).val($(this).val());
                        $("#addNote").append(task);
                    }
                });
                $("#addModal").find(".list_check").each(function () {
                    let checkbox = document.createElement("input");
                    checkbox.type = "hidden";
                    checkbox.name = "listcheckboxes[]";
                    $(checkbox).val($(this).val());
                    $("#addNote").append(checkbox);
                });
                $("#addModal").find(".newTag").each(function () {
                    if($(this).val()!==null) {
                        let tag = document.createElement("input");
                        tag.type = "hidden";
                        tag.name = "tag[]";
                        $(tag).val($(this).val());
                        $("#addNote").append(tag);
                    }
                })
                $("#addNote").submit();
            })

            $(".addTag").click(function () {
                let newTag = document.createElement("input");
                newTag.type = "text";
                $(newTag).val($(this).val());
                newTag.className = "newTag";

                /*$(".newTag").change(function() {
                    $(this).css("border-radius", "25px");
                    console.log("changed");
                })*/

                $(this).parent().append(newTag);

            });


            $(".noteDiv").click(function () {
                editNote(this)
                /*$.ajax({
                    id: noteid,
                    url:"/content/"+noteid,
                    method:"get",
                    data:[

                    ],
                    success: function(res){
                        console.log(res);
                        $(editModal).css("display","block");
                        console.log(res.title);
                        $(editModal).find(".post_title").val(res.title);
                        if(res.note!== "") {
                            $("#editNote").css("display", "block");
                            $(editModal).find(".noteContent").val(res.note);
                        }
                        /*if(res.checklist!==null) {
                            $("#editChecklist").css("display", "block");
                            for (checklists in checklist) {
                                let item_input = document.createElement("input");
                                item_input.type = "text";
                                item_input.className = "list_task";
                                $(item_input).attr("placeholder", "Enter task...");

                                let checkbox = document.createElement("input");
                                checkbox.type = "checkbox";
                                checkbox.className = "list_check";

                                let remove = document.createElement("span");
                                remove.innerHTML = "REMOVE";
                                remove.className = "remove";

                                let divCtnr = document.createElement("div");
                                divCtnr.className = "item_container";
                                divCtnr.append(checkbox);
                                divCtnr.append(item_input);
                                divCtnr.append(remove);

                                $("#editChecklist").append(item_input);
                            }
                        }
                    }
                })*/
            })

            function editNote(note) {
                $("#deletenoteid").val($(note).attr("data-id"))
                $("#editnoteid").val($(note).attr("data-id"));
                $(editModal).css("display", "block");
                $(editModal).find(".newTag").remove();
                let title = $(editModal).find(".post_title");
                let content = $(editModal).find(".noteInput");
                title.val($(note).find(".noteTitle").text());
                $(note).find(".noteTag").each(function () {
                    let newTag = document.createElement("input");
                    newTag.type = "text";
                    $(newTag).val($(this).html());
                    newTag.className = "newTag";
                    $(editModal).find(".modal-footer").append(newTag);
                })
                if($(note).find(".noteContent").text()!=="") {
                    $("#editChecklist").css("display","none");

                    let text = $(note).find(".noteContent").text();
                    let text2 = text.split('<br>').join('\n');
                    console.log(text);
                    //content.val($(note).find(".noteContent").text());
                    content.val(text2);
                    $("#editNote").css("display", "block")
                    $("#editChecklist").find(".item_container").remove();
                }
                else{
                    $("#editNote").find(".noteInput").val("");
                    $("#editNote").css("display","none");
                    $("#editChecklist").find(".item_container").remove();
                    let checklist = $(note).find(".item_container");
                    console.log(checklist)
                    $(note).find(".item_container").each(function(){
                        let item_input = document.createElement("input");
                        item_input.type = "text";
                        item_input.className = "list_task";
                        $(item_input).val($(this).find(".task").html());

                        let checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.className = "list_check";
                        checkbox.checked = $(this).find(".list_check").checked;

                        let remove = document.createElement("span");
                        remove.innerHTML = "REMOVE";
                        remove.className = "remove";

                        let divCtnr = document.createElement("div");
                        divCtnr.className = "item_container";
                        divCtnr.append(checkbox);
                        divCtnr.append(item_input);
                        divCtnr.append(remove);
                        $(divCtnr).insertBefore($("#editModal").find(".add"))
                    })
                    $("#editChecklist").css("display", "block")
                }
            }

            $("#deletebutton").click(function () {
                $("#deleteform").submit();
            })


            $("#savebutton").click(function () {
               savenote()
            })

            function savenote() {
                $("#editformtitle").val($("#edittitle").val())
                let text = $("#editcontent").val();
                let text2 = text.split('\n').join('<br>');
                $("#editformcontent").val($("#editcontent").val())
                console.log(text);
                //$("#editformcontent").val(text2)
                $("#editform").find(".formitem").remove();
                $("#editform").find(".formcheck").remove();
                if($("#editcontent").val()==="") {
                    $("#editModal").find(".list_task").each(function () {
                        let task = document.createElement("input");
                        task.type = "hidden";
                        task.name = "listitem[]";
                        task.className = "formitem";
                        $(task).val($(this).val());
                        $("#editform").append(task);
                    });
                    $("#editModal").find(".list_check").each(function () {
                        let checkbox = document.createElement("input");
                        checkbox.type = "hidden";
                        checkbox.name = "listcheckboxes[]";
                        checkbox.className ="formcheck"
                        $(checkbox).val($(this).val());
                        $("#editform").append(checkbox);
                    });
                }
                $("#editModal").find(".newTag").each(function () {
                    let tag = document.createElement("input");
                    tag.type = "hidden";
                    tag.name = "tag[]";
                    $(tag).val($(this).val());
                    $("#editform").append(tag);
                })
                $("#editform").submit();
            }
        })
        

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(input).parent().parent().find('.post_image').css("display","block");
                    $(input).parent().parent().find('.post_image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".fileid").change(function(){
            readURL(this);
        });

        function tabClick(event, tabName) {
            // Declare all variables
            let i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            if(tabName==="createNote")
                $(".list_task").val(null);
            else if(tabName==="createChecklist")
                $(".noteInput").val(null);

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            event.currentTarget.className += " active";
        }


    </script>
</body>

</html>